
mod1/.DS_Store
mod1/check 1.6./.DS_Store
mod1/.DS_Store
mod1/check 1.5./.DS_Store
mod1/check 2.6/.DS_Store
mod1/check 2.7/.DS_Store
mod1/check 2.9./.DS_Store
mod2/.DS_Store
mod2/check 3.2/.DS_Store
mod2/check 3.5/.DS_Store
mod2/check 4.1/.DS_Store
mod1/check 2.3/.DS_Store
mod1/check 1.9./.DS_Store
mod1/check 1.7/.DS_Store
mod1/.DS_Store
mod1/.DS_Store
.DS_Store
